<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.infra.viewpoints.policy.custom">
      <configuration
            file="resources/configuration/SimpleUML.configuration"
            priority="30">
      </configuration>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.newchild">
      <menuCreationModel
            model="resources/newchild/simpleUML.creationmenumodel">
      </menuCreationModel>
   </extension>
   <extension
         point="org.eclipse.papyrus.views.properties.context">
      <context
            contextModel="resources/property/simpleUML.ctx"
            isCustomizable="true">
      </context>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.diagram.wizards.templates">
      <template
            id="org.eclipse.papyrus.simple.uml.wizard.template"
            language="uml"
            name="Simple UML Pattern Singleton"
            di_file="resources/templates/patternSingleton.di"
            notation_file="resources/templates/patternSingleton.notation"            
            file="resources/templates/patternSingleton.uml">
      </template>
   </extension>

</plugin>
