<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.papyrus.infra.viewpoints.policy.custom">
      <configuration
            file="resources/configuration/SimpleUML.configuration"
            priority="30">
      </configuration>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.newchild">
      <menuCreationModel
            model="resources/newchild/simpleUML.creationmenumodel">
      </menuCreationModel>
   </extension>
   <extension
         point="org.eclipse.papyrus.views.properties.context">
      <context
            contextModel="resources/property/simpleUML.ctx"
            isCustomizable="true">
      </context>
   </extension>
   <extension
         point="org.eclipse.papyrus.uml.diagram.wizards.templates">
      <template
            id="org.eclipse.papyrus.simple.uml.wizard.template"
            language="uml"
            name="Simple UML Pattern Singleton"
            di_file="resources/templates/patternSingleton.di"
            notation_file="resources/templates/patternSingleton.notation"            
            file="resources/templates/patternSingleton.uml">
      </template>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="PapyrusSimpleUml">
         <property
               name="windowImages"
               value="/org.eclipse.papyrus.rcp/icons/papyrus16.png,/org.eclipse.papyrus.rcp/icons/papyrus32.png,/org.eclipse.papyrus.rcp/icons/papyrus48.png,/org.eclipse.papyrus.rcp/icons/papyrus64.png,/org.eclipse.papyrus.rcp/icons/papyrus128.png">
         </property>
         <property
               name="aboutText"
               value="PapyrusSimpleUml&#x0A;&#x0A;Version: 1.0.0&#x0A;&#x0A;(c) Copyright Eclipse contributors and others 2000, 2013.  All rights reserved.&#x0A;Visit http://www.eclipse.org/platform&#x0A;&#x0A;This product includes software developed by the&#x0A;Apache Software Foundation http://www.apache.org/">
         </property>
         <property
               name="aboutImage"
               value="/org.eclipse.papyrus.rcp/icons/papyrus_lg.png">
         </property>
         <property
               name="startupForegroundColor"
               value="9C9E9F">
         </property>
         <property
               name="startupProgressRect"
               value="0,330,460,20">
         </property>
         <property
               name="startupMessageRect"
               value="7,4,445,16">
         </property>
         <property
               name="preferenceCustomization"
               value="resources/plugin_customization.ini">
         </property>
      </product>
   </extension>

</plugin>
